# 1. Set the variable test1 to the string 'This is a test of the emergency text system', and save test1 to a file named test.txt.

**Ans:**

In [1]:
# Set the variable test1 to the string
test1 = 'This is a test of the emergency text system'

# Save test1 to a file named test.txt
with open('test.txt', 'w') as file:
    file.write(test1)

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

**Ans:**

In [3]:
# Read the contents of the file test.txt into the variable test2
with open('test.txt', 'r') as file:
    test2 = file.read()  # the contents of the file test.txt will be stored in the test2 variable as a string

In [4]:
if test1 == test2:
    print("test1 and test2 are identical.")
else:
    print("test1 and test2 are different.")

test1 and test2 are identical.

# 3. Create a CSV file called `books.csv` by using these lines:

### title,author,year
### The Weirdstone of Brisingamen,Alan Garner,1960
### Perdido Street Station,China MiÃ©ville,2000
### Thud!,Terry Pratchett,2005
### The Spellman Files,Lisa Lutz,2007
### Small Gods,Terry Pratchett,1992

**Ans:**

In [8]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Mieville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

filename = 'books.csv'

# Write the data to the CSV file
with open(filename, 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerows(data)

print(f'The file {filename} has been created.')

The file books.csv has been created.

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

**Ans:**

In [11]:
import sqlite3

In [13]:

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Define the SQL command to create the 'books' table
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
);
'''

# Execute the SQL command to create the table
cursor.execute(create_table_query)

# Commit the changes and close the database connection
conn.commit()
conn.close()

print('The SQLite database "books.db" and table "books" have been created.')

The SQLite database "books.db" and table "books" have been created.

# 5. Read books.csv and insert its data into the book table.

**Ans:**

In [14]:
# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Create the "books" table if it doesn't exist
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Open and read the CSV file
with open('books.csv', 'r', newline='', encoding='utf-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    
    # Skip the header row
    next(csv_reader)
    
    # Insert each row from the CSV into the database
    for row in csv_reader:
        title, author, year = row
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (title, author, int(year)))

# Commit the changes and close the connection
conn.commit()
conn.close()

# 6. Select and print the title column from the book table in alphabetical order.

**Ans:**

In [17]:
# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select the titles in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title")

# Fetch all the titles and print them
titles = cursor.fetchall()
for title in titles:
    print(title[0])

# Close the database connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# 7. From the book table, select and print all columns in the order of publication.

**Ans:**

In [20]:
# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select all columns and order by year
cursor.execute("SELECT * FROM books ORDER BY year")

# Fetch all the rows and print them
books = cursor.fetchall()
for book in books:
    print(book)

# Close the database connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Mieville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

**Ans:**

In [23]:
from sqlalchemy import create_engine

# Create a SQLAlchemy engine to connect to the database
engine = create_engine('sqlite:///books.db')

# Establish a connection
connection = engine.connect()

# Now you can use this connection to execute SQL queries
# For example:
result = connection.execute('SELECT * FROM books')

# Fetch and print the rows
for row in result:
    print(row)

# Close the connection when done
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Mieville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

**Ans:**

In [25]:
pip install redis

Collecting redis
  Downloading redis-5.0.0-py3-none-any.whl (250 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.3-py3-none-any.whl (5.7 kB)
Note: you may need to restart the kernel to use updated packages.
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.3 redis-5.0.0

In [5]:
import redis

In [6]:
# please help me with this question
# I have written code for this,  but kernel stuck every time.  
# I have restarted the kernel several times but it is not able to produce output

In [ ]:
# Connect to the Redis server
r = redis.StrictRedis(host='localhost', port=8888, db=0)

# Set the hash fields
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Retrieve all fields and their values
hash_data = r.hgetall('test')

# Print the fields and their values
for field, value in hash_data.items():
    print(f'{field.decode("utf-8")}: {value.decode("utf-8")}')

# 10. Increment the count field of test and print it.

In [2]:
# please help me with this question also
# Facing same difficulty as previous question

In [ ]:
# Connect to the Redis server
r = redis.StrictRedis(host='127.0.0.1', port=8888, db=0)

# Increment the 'count' field by 1
r.hincrby('test', 'count', 1)

# Retrieve and print the updated 'count' field
updated_count = r.hget('test', 'count').decode('utf-8')
print(f'Updated count: {updated_count}')